<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- footer -->
    <footer th:fragment="footer">
        <div class="footer-link__wrapper">
            <div class="footer-social-area">
                <a href="https://youtube.com" class="footer-social__icon footer-social__link">
                    <i class="bi bi-facebook fa-xs"></i>
                </a>
                <a href="" class="footer-social__icon footer-social__link">
                    <i class="bi bi-google fa-xs"></i>
                </a>
                <a href="" class="footer-social__icon footer-social__link">
                    <i class="bi bi-youtube fa-xs"></i>
                </a>
                <a href="" class="footer-social__icon footer-social__link">
                    <i class="bi bi-instagram fa-xs"></i>
                </a>
            </div>
            <div class="footer-social__support">
                <a href="" class="footer-social__link">
                    Chính sách - Bảo mật
                </a>
                <a href="" class="footer-social__link">
                    Trợ giúp
                </a>
                <a href="" class="footer-social__link">
                    Chúng tôi
                </a>
            </div>
        </div>
        <div class="footer__desc">
            Công ty TNHH Airtel Việt Nam - Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội
        </div>
        <div class="footer__copyright">
            Copyright <i class="bi bi-c-circle"></i> 2023 Airtel
        </div>
    </footer>
</body>
</html>